.box {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(0, 255, 55);
    text-align: center;
    transition: left 1s;
    position: relative;
    left: 0;
}
body:hover .box{
    left: 200px;
}
asdass